* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 110px;
  margin: 0 auto;
  border: 1px solid red;
}
body header {
  display: flex;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
}
body header nav {
  width: 800px;
  display: flex;
  justify-content: space-between;
}
body header nav .nav-span .nav-link {
  margin-right: 35px;
  text-decoration: none;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 600;
  color: black;
}
body header nav .nav-span .nav-link:hover {
  color: red;
  font-weight: 600;
}
body header nav .nav-span .acct-border {
  border-right: 1px solid grey;
  padding-right: 30px;
}
body main .hero-section {
  display: flex;
  padding-top: 80px;
  height: calc(100vh - 64px);
}
body main .hero-section .left-section {
  border: 1px solid blue;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 120px;
}
body main .hero-section .left-section .left-section-btn button {
  border: none;
  background-color: transparent;
  color: rgb(184, 182, 182);
  font-weight: 600;
  margin-right: 5px;
}
body main .hero-section .left-section h3 {
  font-size: 54px;
  padding: 40px 0;
}
body main .hero-section .left-section p {
  font-size: 16px;
  margin-bottom: 50px;
}
body main .hero-section .left-section .btn-container {
  display: flex;
}
body main .hero-section .left-section .btn-container .hero-link {
  padding: 12px;
  background-color: #b00000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  margin-right: 24px;
}
body main .hero-section .left-section .btn-container .hero-btn {
  padding: 12px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 8px;
}
body main .hero-section .right-section {
  border: 1px solid red;
  width: 50%;
  background-image: url("hero image.png");
  background-repeat: no repeat;
  background-size: contain;
  position: relative;
}
body main .hero-section .right-section .triangle-one {
  width: 40px;
  height: 40px;
  display: block;
  border-left: 20px solid transparent;
  border-right: 20px solid #b00000;
  border-top: 20px solid transparent;
  border-bottom: 20px solid #b00000;
  position: absolute;
  right: -20px;
  top: 40px;
}
body main .hero-section .right-section .triangle-two {
  width: 72px;
  height: 72px;
  display: block;
  border-right: 36px solid #b00000;
  border-bottom: 36px solid #b00000;
  border-left: 36px solid transparent;
  border-top: 36px solid transparent;
  position: absolute;
  right: -20px;
  bottom: 50px;
}
body main .hero-section .right-section .triangle-three {
  width: 40px;
  height: 40px;
  display: block;
  border-left: 20px solid #b00000;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #b00000;
  border-top: 20px solid transparent;
  position: absolute;
  bottom: 120px;
  left: -20px;
}
body main .sponsors {
  margin: 80px 0;
  font-family: poppins;
}
body main .sponsors .sponsor-top {
  display: flex;
}
body main .sponsors .sponsor-top .sponsor-top-left {
  width: 50%;
}
body main .sponsors .sponsor-top .sponsor-top-right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
body main .sponsors .sponsor-top .sponsor-top-right img {
  display: block;
  width: 120px;
}
body main .sponsors .sponsor-bottom {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
body main .sponsors .sponsor-bottom .services-card {
  font-size: small;
  text-align: center;
  margin-left: 40px;
}
body main .sponsors .sponsor-bottom .services-card .icons {
  font-family: poppins;
}
body main .sponsors .sponsor-bottom .services-card .icons h3 {
  font-weight: 700;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}
body main .sponsors .sponsor-bottom .services-card .icons .icon-text {
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
body main .Pricing {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  text-align: center;
}
body main .Pricing .pricing-top {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 120px;
}
body main .Pricing .pricing-top h1 {
  font-size: 25px;
  font-weight: 700px;
  margin-bottom: 50px;
}
body main .Pricing .pricing-top h4 {
  font-size: medium;
  font-weight: 200px;
}
body main .Pricing .pricing-bottom .pricing-bottom-header button {
  padding-top: 50px;
  text-align: center;
  border: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: larger;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */